.page {
  width: 100%;
  min-height: 100%;

  padding: 0 50px;

  position: relative;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}

.container {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.undraw {
  width: 450rpx;
  height: 450rpx;
  position: fixed;
  right: 50px;
  bottom: -10px;
}

.program-name {
  font-weight: bold;
  font-size: 50px;

  margin-top: 40px;
}

.control {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 70px;

  font-size: 32px;
  font-weight: bold;
}

.list-item {
  margin-top: 20px;
}

.bottom-area {
  bottom: 30px;

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  align-self: center;
}

.version-wrapper {
  font-weight: bold;
  color: #000;

  font-size: 25px;

  margin-bottom: 10px;

  display: flex;
  align-items: center;

  height: 50px;
}

.version {
  // border-right: solid 5px #999;
  margin-top: 15px;
  font-size: 25px;
}

.line {
  height: 30%;
  width: 5px;
  background-color: #999;

  margin: 0 20px;
}

.author {
  font-size: 35px;
  font-weight: bold;
  color: #ccc;
  justify-self: flex-end;
}

.chat-with-author {
  background-color: transparent;
  text-align: start;
  padding: 0;
  font-size: 25px;

  &::after {
    border: none;
  }
}

.item-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.item-img {
  width: 45px;
  height: 45px;
}

.item-text {
  font-size: 27px;
  margin-left: 15px;
}

.link-text {
  border-bottom: 5rpx dashed #00b294;
  margin-top: -0.5px;
  margin-left: 10rpx;
  padding-bottom: 3rpx;
}

.link-title {
}

.item-share {
  background-color: #fff;
  font-size: 27px;
  line-height: 27px;
  padding: 0;
  color: #000;
}

.copyright {
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-size: 30px;
  font-weight: bold;
  color: #ccc;
}

.modal-background {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 100%;

  transition: all 200ms ease;

  &__active {
    top: 0;

    .modal {
      bottom: 0;
    }
  }
}

.modal {
  width: 100%;
  height: 700px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -700px;
  padding: 50px;

  transition: all 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.changelog {
  display: flex;
  flex-direction: column;
}

.changelog-date {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}

.changelog-item {
  font-size: 27px;
}

.thanks-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.thanks-name {
  font-size: 30px;
  font-weight: bold;
}

.thanks-desc {
  font-size: 30px;
  color: #999;
}

.version-modal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clear-data {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  width: 100%;
}