.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.form {
  display: flexl;
  flex-direction: column;

  width: 100%;

  padding: 40px;
}

.picker {
  margin-bottom: 40px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    height: 100px;

    // border: solid 1px #eaeaea;
    border-radius: 100px;

    background-color: #f5f3f3;

    // box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 10px;

    transition: 0.1s all ease;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-icon {
    width: 50px;
    height: 50px;
  }

  &-text {
    padding: 0 20px;

    color: #666666;
    font-weight: bold;
    font-size: 32px;
  }

  &--hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 40px;
  }

  &-triangle {
    display: inline-block;

    width: 20px;
    height: 20px;

    border-top: solid 4px #999999;
    border-right: solid 4px #999999;

    transform: rotate(135deg);
  }
}

.btn {
  width: 100%;

  margin-top: 20px;

  transition: 0.1s all ease;

  &--active {
    opacity: 1;
  }
}

.panel-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  transition: all 0.25s ease;

  &__active {
    visibility: visible;
  }
}

.panel {
  display: flex;
  flex-direction: column;

  position: absolute;

  left: 0;
  top: 100%;
  width: 100%;
  height: calc(100% - 440px);
  transition: all 0.3s ease;

  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.04) 0px -4px 0px;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 2;

  &__active {
    top: 440px;
  }
}

.panel-header {
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin: 20px 20px 0;
}

.panel-close-btn {
  padding-left: 25px;
}

.panel-control {
  width: 25%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.grade-semester-picker {
  margin: 0;
  flex: 1;
}

.class-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  padding: 20px 40px;

  background-color: #f5f3f3;
  border-radius: 50px;
  margin: 20px;
  flex: 1;
}

.class-item {
  margin: 10px 0;
  padding: 10px 0;
  align-items: center;
}

.class-index {
  margin-right: 30px;
  border: solid 5px #ccc;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
  color: #999;
  font-size: 25px;
}

.storage-schedule {
  position: absolute;
  bottom: 40px;

  align-self: center;

  font-size: 25px;
  color: #999999;
}