$modal-max-height: 800px;

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 100%;

  transition: all 300ms ease;
  visibility: hidden;

  &__active {
    visibility: visible;

    .modal-container {
      bottom: 0;
    }
  }
}

.modal-container {
  width: 100%;
  min-height: 600px;
  max-height: $modal-max-height;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -600px;
  padding: 50px;

  transition: all 300ms ease;

  display: flex;
  flex-direction: column;
}

.modal-scrollview {
  overflow: scroll;
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
