@import '@styles/theme.scss';

.bind-page {
  display: flex;
  flex-direction: column;
}

.bind-page > .container {
  flex-direction: column;

  padding: 40px;

  &>.title {
    margin-bottom: 80px;
  
    font-size: 50px;
    font-weight: bold;
  
    letter-spacing: 5px;
  }
}

.help-btn {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}
