.card {
    display: flex;
    flex-direction: column;
  
    padding: 32px;
    margin-bottom: 40px;
    background-color: #fff;
  
    border-radius: 20px;
  
    margin: 10px 20px;
  
    color: #000;
  
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.01);
}