@import '@styles/theme.scss';

.schedule-page {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 100%;

  background-color: #eeeeee;

  & > .title {
    padding: 40px 0;

    font-size: 50px;
    font-weight: bold;

    letter-spacing: 5px;
  }
}

.form,
.float-layout {
  padding: 40px;

  background-color: #fff;
}

.form {
  // margin-bottom: 10px;
  top: 0;

  width: 100%;
  height: 350px;

  z-index: 100;

  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;

  transition: 0.1s all ease;

  &--active {
    height: 200px;
  }
}

.form-control {
  width: 100%;

  margin: 10px 0;
  padding: 10px 0;

  display: flex;
  flex-direction: column;

  &__title {
    padding-bottom: 20px;
    font-size: 28px;
  }
}

.btn {
  width: 100%;

  margin-top: 30px;

  transition: 0.1s all ease;

  &--active {
    opacity: 1;
  }
}

.recommend {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin-top: 20px;

  padding: 40px;

  background-color: #fff;
}

.recommend-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recommend-title {
  font-size: 35px;
  font-weight: bold;
}

.recommend-nav {
  font-size: 28px;
  color: '#999';
}

.recommend-body {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  flex: 1;
}

.recommend-schedule-list {
  margin: 20px 0;

  display: flex;
  flex-direction: column;

  font-size: 30px;
}

.recommend-schedule-list__header {
  font-size: 28px;
  color: $text-color;
  background-color: rgba(51, 51, 51, 0.1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.recommend-schedule-list__body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.recommend-schedule-item {
  font-size: 28px;
}

.empty-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #999999;
}

.empty-view__img {
  width: 300px;
  height: 300px;
  opacity: 0.5;
}

.recommend-schedule-item__container {
  display: flex;
  justify-content: space-between;

  padding: 2px 5px;

  &:nth-child(2n) {
    background-color: rgba($grey, 0.5);
  }
}

.pin-class-btn {
  width: 35px;
  height: 35px;
}