@import '@styles/theme.scss';

.page-index {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-height: 100%;
  // box-shadow: -10px -10px 10px #82aeae;
}

.top {
  padding: 25px 30px;

  display: flex;
  flex-direction: column;
  // color: #fff
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-sayhi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello {
  font-weight: bold;
  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-top: 20px;
  font-size: 25px;
  color: #999;
}

.user-avatar {
  width: 150px;
  height: 150px;

  border-radius: 50%;

  overflow: hidden;
}

.panel {

  // background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
}